@import "tailwindcss";
@plugin "daisyui"{
  themes: all
}

@keyframes wiggle {
  0% , 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
  }
}

.wiggle-animation {
  animation: wiggle 1.5s ease-in-out infinite;
}

/* React Toastify override */

:root {
  --toastify-color-light: #ECE3CA;
  --toastify-text-color-light: #793205;
}